.app-header {

  display: grid;
  grid-template-columns: 150px minmax(300px, 1fr) 50px 50px;
  grid-template-rows: 54px;
  background-color: rgb(58, 57, 57);

  width: 100vw;
  height: 56px;

}

@media only screen and (max-width: 600px) {
  .app-header {
    grid-template-columns: 1fr;
    padding: 1px 0px;
  }
} 