.checkout-container {
    display: grid;
    margin: 0 auto;
    padding: 25px;
    grid-template-areas: "cart-content cart-order";
}

.checkout-items {
    display: grid;
    grid-area: cart-content;
}

.checkout-orderdetails {
    display: grid;
    grid-area: cart-order;
    width: 250px;
    margin: 0 auto;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 15px;
    font-size: 0.8rem;
}

.checkout-orderdetails > button {
    width: 100%;
}

.checkout-orderdetails > span {
    padding: 5px;
}

.checkout-orderdetails > span > label {
    font-weight: bold;
}

