.checkout-container {
    display: grid;
    margin: 0 auto;
    padding: 25px;
    grid-template-areas: "cart-content cart-order";
}

.checkout-items {
    display: grid;
    grid-area: cart-content;
}

.checkout-orderdetails {
    display: grid;
    grid-area: cart-order;
    width: 250px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    font-size: 0.8rem;
    background-color: rgba(238, 217, 113, 0.297);
    border: 1px solid #EED971FF;
}

.checkout-orderdetails > button {
    width: 100%;
}

.checkout-orderdetails > span {
    padding: 5px;
}

.checkout-orderdetails > span > label {
    font-weight: bold;
}

@media only screen and (max-width: 650px) { 

    .checkout-container {
        grid-template-areas: "cart-content"
                             "cart-order";
        width: calc(100vw - 20px);
        margin: 0;
        padding: 10px;
    }

    .checkout-orderdetails {
        width: calc(100vw - 20px);
        margin: 0;
        padding: 5px;
    }

}