.products-precontainer {
    width: 90%;
    margin: 0 auto;
}

.products-container {
    display: grid;
    grid-template-areas: "title"
                         "products-list";
    padding: 25px;
}

.products-wrapper {

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

}

.products-title {
    font-weight: bold;
}

.messages {
    display: grid;
    padding: 15px;
    margin-top: 15px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.message-ok {
    border: 3px solid green;
    color: green;
    background-color: rgba(111, 217, 111, 0.433);
}

.message-warn {
    border: 3px solid yellow;
    color: yellow;
    background-color: rgba(217, 215, 111, 0.433);
}

.message-error {
    border: 3px solid red;
    color: red;
    background-color: rgba(208, 113, 113, 0.433)
}

@media only screen and (max-width: 650px) {
    .products-precontainer {
        width: 100vw;
        margin: 0 auto;
    }

    .products-container {
        padding: 10px;
    }

    .products-wrapper {
        flex-direction: column;
        align-items: center;
    }

 }