.search-form {
    display: grid;
    grid-area: search;
    grid-template-columns: auto 100px;
    width: auto;
}

@media only screen and (max-width: 650px) {
    .search-form {
        grid-template-columns: auto 100px;
        width: 100vw;
    }
}