.profileorders-container {
    display: grid;
    width: 100%;
    margin-bottom: 10px;
    padding: 15px;
    justify-content: space-between;
    grid-template-areas: "title title title"
                         "total pending completed";
}

.profileorders-title {
    grid-area: title;
}

.profileorders-infobox {
    background-color: rgba(238, 217, 113, 1);
    border: 3px solid rgb(216, 182, 10);
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.profileorders-infobox a {
    text-decoration: none;
    color: black;
}

.profileorders-infobox a:hover {
    color: rgb(216, 182, 10);
}

.profileorders-total {
    display: grid;
    grid-area: total;
    grid-template-areas: "total-title"
                         "total-data";
}

.profileorders-pending {
    display: grid;
    grid-area: pending;
    grid-template-areas: "pending-title"
                         "pending-data";
}

.profileorders-completed {
    display: grid;
    grid-area: completed;
    grid-template-areas: "completed-title"
                         "completed-data";

}

.profileorders-total-title {
    grid-area: total-title;
}

.profileorders-pending-title {
    grid-area: pending-title;
}

.profileorders-completed-title {
    grid-area: completed-title;
}

.profileorders-total-data {
    grid-area: total-data;
    display: grid;
    justify-content: center;
}

.profileorders-pending-data {
    grid-area: pending-data;
    display: grid;
    justify-content: center;
}

.profileorders-completed-data {
    grid-area: completed-data;
    display: grid;
    justify-content: center;
}

@media only screen and (max-width: 650px) {

    .profileorders-container {
        width: 100vw;
        grid-template-areas: "title"
                             "total"
                             "pending"
                             "completed";
        grid-gap: 15px;
        padding: 5px;
    }

    .profileorders-total,.profileorders-pending, .profileorders-completed {
        width: calc(100vw - 12px);
    }

 }